@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="section-personal" class="personal section">
    <div class="row">
        <div class="col-md-10">
            <h1>I Putu Yoga Permana</h1>
            <div id="currently-at-container" class="job">
                <div class="job has-tooltip">
                    Software Engineer at Mitrais
                </div>
            </div>
            <div class="meta">
                <span class="icon-location"></span>
                Denpasar, Indonesia
                <span class="icon-site"></span>
                <a href="http://putuyoga.com"> http://putuyoga.com </a>
                <span class="icon-twitter"></span>
                <a href="https://twitter.com/putuyoga" rel="me" class="url">putuyoga</a>
                <span class="icon-github"></span>
                <a href="https://github.com/putuyoga" rel="me" class="url">putuyoga</a>
            </div>

        </div>

        <div class="col-md-2 avatar-wrapper">
            <div class="avatar">
                <img title="change picture" src="https://www.gravatar.com/avatar/f5ebd4c466b1f9cc71cd04c26aacad0e?s=136&amp;r=PG&amp;d=https://i.stack.imgur.com/T119o.png">
            </div>
        </div>
    </div>
</div>


<div class="section">
    <div class="section-header section-opener">
        <h2>Technologies</h2>
    </div>

    <div class="tag-section">
        <div class="tag-section-title">Tech you want to work with</div>
        <div>
            <span class="post-tag">javascript</span>
            <span class="post-tag">go</span>
            <span class="post-tag">reactjs</span>
            <span class="post-tag">react-native</span>
            <span class="post-tag">asp.net-core</span>
        </div>
    </div>
</div>



<div class="section cv-section-type multi-section" id="cv-Experience">
    <div class="section-header section-opener">
        <h2 class="h4">
            Experience
        </h2>
    </div>

    <div class="repeater cv-section highlight first expanded last collapsible" id="Experience-584419">
        <div class="display">
            <div class="preview">
                <div class="row">
                    <div class="col-md-8">
                        <h3 class="h4">
                            Software Engineer                                <span class="location">
                                Mitrais
                            </span>
                        </h3>
                    </div>
                    <div class="col-md-4">
                        <p class="time-frame">
                            Jul 2016 → Current
                        </p>
                    </div>
                </div>

                <div class="timeline-item-tags">
                    <span class="post-tag">.net</span>
                </div>

            </div>
        </div>
    </div>

</div>



<div class="section cv-section-type multi-section" id="cv-Education">
    <div class="section-header section-opener">
        <h2 class="h4">
            Education
        </h2>
    </div>

    <div class="repeater cv-section highlight first expanded last collapsible" id="Education-584418">
        <div class="display">
            <div class="preview">
                <div class="row">
                    <div class="col-md-8">
                        <h3 class="h4">
                            B. S. Informatics Engineering                                
                            <span class="location">
                                Universitas Brawijaya
                            </span>
                        </h3>
                    </div>
                    <div class="col-md-4">
                        <p class="time-frame">
                            2011 → 2015
                        </p>
                    </div>
                </div>


            </div>
        </div>
    </div>

</div>
