<!-- person-list.html -->
<h3><a data-ui-sref="person_list()">&laquo;</a> {{person.titleMode}} <small class="label label-default label-" data-ng-show="person.isBusy">{{person.busyMsg}}</small></h3>
<div class="row">
    <div class="col-md-6">
        <form role="form">
            <div class="form-group">
                <label for="firstNameInput">Username</label>
                <input type="text" class="form-control input-block-level" id="usernameInput" placeholder="Enter your username" data-ng-model="person.data.username" data-ng-disabled="person.isBusy" required>
                <small class="text-muted">The unique one of course</small>
            </div>
            <div class="form-group">
                <label for="emailInput">Email</label>
                <input type="text" class="form-control input-block-level" id="emailInput" placeholder="Enter your email" data-ng-model="person.data.email" data-ng-disabled="person.isBusy" required>
                <small class="text-muted">Frequently used</small>
            </div>
            <div class="form-group">
                <label for="firstNameInput">First Name</label>
                <input type="text" class="form-control input-block-level" id="firstNameInput" placeholder="Enter your name" data-ng-model="person.data.firstName" data-ng-disabled="person.isBusy" required>
                <small class="text-muted">Should be clear and must same with your identity card.</small>
            </div>
            <div class="form-group">
                <label for="birthDateInput">Birth Date</label>
                <input type="date" class="form-control input-block-level" id="birthDateInput" data-ng-model="person.data.birthDate" data-ng-disabled="person.isBusy" required>
            </div>
            <div class="form-group">
                <div class="radio">
                    <label><input type="radio" data-ng-model="person.data.sex" value="0" data-ng-disabled="person.isBusy">Man</label>
                    <label><input type="radio" data-ng-model="person.data.sex" value="1" data-ng-disabled="person.isBusy">Woman</label>
                </div>
            </div>

            <input type="submit" data-ng-click="person.save()" value="save" class="btn btn-primary" data-ng-disabled="person.isBusy" />
        </form>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    <b>TODO:</b>
                    <ul>
                        <li>Last name</li>
                        <li>Website</li>
                        <li>Experiences</li>
                        <li>Skills</li>
                        <li>Educations</li>
                        <li>Experiences</li>
                        <li>...etc</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>