@{
    ViewData["Title"] = "Dashboard";
}
@section scripts
{
    <environment names="Development">
        <script src="~/js/app.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/app.min.js" asp-append-version="true"></script>
    </environment>
}
<div class="row" data-ng-app="PersonsApp">
    <div class="col-md-12" data-ui-view></div>
</div>
