@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>When love meets in a thin layer, we are the layer that help you and other person merge together. Thats it. Okay.</p>
