@{
    ViewData["Title"] = "About Us";
}
<h2>@ViewData["Title"].</h2>
<p>
    We are from paradise island, Bali, Indonesia that have clear vision in the future.
</p>
<p>
    Our mission is to help people share their resume to the world, by simplify their experience.
</p>
<p>
    With powerful presentation, hopefully the employers will have some impression to our users.
</p>
