@{
    ViewData["Title"] = "Contact Us";
}
<h2>@ViewData["Title"].</h2>

<address>
    Jalan By Pass Ngurah Rai<br />
    Denpasar, Indonesia<br />
    <abbr title="Phone">P:</abbr>
    +62-810-9910-132
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@rsm.com">Support@rsm.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@rsm.com">Marketing@rsm.com</a>
</address>
